<style type="text/css">
.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0;
}
.dialogdemoBasicUsage #popupContainer {
  position: relative; }
.carddemoBasicUsage .card-media {
  background-color: #999999; }

  .checkboxdemoSelectAll .demo-legend {
  color: #3F51B5; }

.checkboxdemoSelectAll .demo-fieldset {
  border-style: solid;
  border-width: 1px;
  height: 100%; }

.checkboxdemoSelectAll .demo-select-all-checkboxes {
  padding-left: 30px; }

  .checkboxdemoSyncing fieldset.standard {
  border-style: solid;
  border-width: 1px;
  height: 100%; }
  .dialogdemoThemeInheritance .container {
    text-align: center; }
  </style>
