
<md-toolbar  class="md-toolbar-tools" style="position:fixed;" >
  <md-button ng-click="toggleLeft()" class="md-raised md-primary md-icon-button">
  <span><md-icon><i class="material-icons">menu</i></md-icon></span></md-button>
<p> <strong>AngularJS Starter App </strong> </p>
<!-- <md-button ng-click="sendLogin()" class="md-raised md-primary md-icon-button">
  <span> <md-icon> <i class="material-icons"> exit-to-app</i> </md-icon> </span> </md-button> -->
</md-toolbar>
<md-content class="md-padding" >
</md-content>
